.popup__button{
  margin: 31px 0 0 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  min-height: 50px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  cursor: pointer;
}

.popup__button:hover{
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 420px){
  .popup__button{
    margin-top: 28px;
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
  }
}
