.profile__add-btn{
  margin-top: 35px;
  padding: 0;
  max-height: 50px;
  max-width: 150px;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

@media screen and (max-width: 768px){
  .profile__add-btn{
    justify-self: center;
    max-width: 200px;
  }
}

@media screen and (max-width:448px){
  .profile__add-btn{
    margin-top: 36px;
    max-width: 282px;
  }
}
