.popup__input-error{
  visibility: hidden;
  margin-bottom: 13px;
  min-height: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  word-wrap: break-word;
}
