.profile{
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 35px 0 35px;
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
}

@media screen and (max-width: 768px){
  .profile{
    padding: 42px 19px 0 19px;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 400px;
  }
}

@media screen and (max-width: 448px){
  .profile{
    max-width: 282px;
  }
}
