.popup__close{
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url(../../../images/popup/close.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.popup__close:hover{
  opacity: 0.6;
}

@media screen and (max-width: 550px){
  .popup__close{
    top: -36px;
    right: 0;
    max-width: 20px;
    max-height: 20px;
  }
}
