.profile__name{
  display: inline-block;
  margin: 0 18px 7px 0;
  width: 294px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}


@media screen and (max-width: 768px){
  .profile__name{
    text-align: center;
    max-width: 358px;
    font-size: 33px;
    line-height: 39px;
  }
}

@media screen and (max-width: 448px){
  .profile__name{
    max-width: 189px;
    margin-right: 10px;
    margin-bottom: 8px;
    font-size: 27px;
    line-height: 33px;
  }
}
