.elements__like{
  height: 19px;
  width: 22px;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url(../../../images/elements/like.svg);
  background-color: transparent;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.elements__like:hover{
  opacity: 0.6;
}
