.profile__add-img{
  max-width: 22px;
  max-height: 22px;
  padding: 14px 64px;
}

@media screen and (max-width: 768px){
  .profile__add-img{
    padding: 14px 89px;
  }
}

@media screen and (max-width: 448px){
  .profile__add-img{
    max-width: 16px;
    max-height: 16px;
    padding: 14px 133px;
  }
}
