.card{
  max-width: 282px;
  position: relative;
  margin: 0;
  background: #FFFFFF;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 282px;
  grid-template-rows: 282px 1fr;
  overflow: hidden;
}
